.project-list
  .project
    .project-title
      Dotfiles Analysis
      %span.year (2014)
    .project-img
  .project
    .project-title
      Space Harp
      %span.year (2014)
    .project-img
  .project
    .project-title
      %a{href: 'coffeevis.html'} What do you take in your coffee?
      %span.year (2013)
    .project-img
      = image_tag 'coffeevis_thumb.png'
  .project
    .project-title
      %a{href: 'http://joannecheng.me/github_pushes'} Github Push Events
      %span.year (2013)
    .project-img
      = image_tag 'github_pushes_thumb.png', {height: 100}
  .project
    .project-title
      %a{href: 'philadelphia.html'} Philadelphia Bus Visualization
      %span.year (2012-2013)
    .project-img
      = image_tag 'philadelphia.png'
  .project
    .project-title
      %a{href: 'http://joannecheng.me/colorado_firemap'} Boulder Wildfires
      %span.year (2012)
    .project-img
      = image_tag 'boulder_wildfires.jpg'
  .project
    .project-title
      %a{href: 'denver_street_closures.html'} Denver Street Closings API
      %span.year (2012-2013)
    .project-img
      = image_tag "denver_street_construction.png"
  .project
    .project-title
      Music Grid
      %span.year (2011)
    .project-img
      = image_tag 'musicgrid.png'
